/* Set Background slightly darker than white */
#body {
background-color: gray
}

/* Set Background color to transperent, for inheiritance reasons, trying to imitate windows app footer */
a {
background-color: transperent;
color: white;
}

/* Set hovering action, again to imitate windows app footer */
a:hover {
background-color: blue;
text-decoration: underline;
}
